<%- include('../partials/head')  %>
  
      <body>
        <main>
      <section>
      <h1 class ="titulo"><%= movie.title %></h1>
      <p><b>Rating:</b> <%= movie.rating %></p>
      <p><b>Awards:</b> <%= movie.awards %></p>
      <p><b>Release date:</b> <%= movie.release_date %></p>
      <p><b>Genre:</b> <%= movie.genre ? movie.genre.name : 'No tiene género asociado' %></p>
      <p><b>Length:</b> <%= movie.length %></p>
      <% if (movie.actors.length > 0) { %>
        <h4>Actores que participan en la película:</h4>
        <ol>
          <% movie.actors.forEach(oneActor => { %>
          <li><%= oneActor.first_name + ' ' + oneActor.last_name %> </li>
          <% }) %>
        </ol>
      <% } %>
      
 
      <a class="listado"  href="/movies"<%= movie.id %>">Volver al listado de Películas</a>
      <hr>
      <h5>¿Seguro que querés borrar esta película?</h5>
      <form action="/movies/delete/<%= movie.id %>?_method=DELETE" method="POST">
        <button class ="botonEliminar" type="submit">Eliminar</button>
      </form>  
      <form action="/movies/edit/<%= movie.id %>?_method=UPDATE" method="PUT">
        <button class ="botonEditar" type="submit">Editar</button>
      </form>  
    <%- include('../partials/footer')  %>

