<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" /> 
</head>
<header>
    <a class="detalle">DETALLE DE LA PELICULA SELECCIONADA</a>
    <a class="botonVolver" role="button" aria-pressed="true" href="/">Volver</a>
</header>                              
<body>
<main>
    <div class="detalle">
                    <h1 class="detalle">Película: <%= pelicula.title %></h1>
                    <% if (pelicula.generos) { %>
                        <h3>Género: <%= pelicula.generos.name %>
                        </h3>
                        <% } else {%>
                            <h3>Género: Sin Genero</h3>
                            <% } %>
                            <h2>Actores que participan:</h2>
                                <ul>
                                    <% for(let i=0; i < pelicula.actores.length; i++) { %>
                                        <li>
                                            <%= pelicula.actores[i].first_name %>
                                                <%= pelicula.actores[i].last_name %>
                                        </li>
                                        <% } %>
                                </ul>
                                <h2>Rating: <%= pelicula.rating %></h2>
                                    <h2>Duracion: <%= pelicula.length %> min.</h2>
                                    <h3>Fecha de Estreno: <%= pelicula.release_date %> </h3>
                                  <br>
                                    <a href="/detalle/editar/<%= pelicula.id %> ">
                                        <button class="botonEditar"  type="submit">Editar</button>
                                    </a>
                        <form action="/detalle/borrar/<%= pelicula.id %>" method="POST">
                                        <button class="botonEliminar"  type="submit">Borrar</button>
                        </form>                         
                </div>
</main>
</body>
<footer>
	<p>Copyright 2022 - All rights reserved</p>
</footer>
</html>