<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Editar Película</title>
</head>
<body>
    <main>
    <form action="/detalle/editar/<%= pelicula.id %> " method="POST">
        <style>
            label{
                display:block;
                float: inline-start;
            }
        </style>
    <div>
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo" required value="<%= pelicula.title %> ">
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="text" name="rating" id="rating" required value="<%= pelicula.rating %> ">
    </div>
    <div>
        <label for="premios">Premios</label>
        <input type="text" name="premios" id="premios" required value="<%= pelicula.awards %> ">
    </div>
    <div>
        <label for="duracion">Duracion</label>
        <input type="number" name="duracion" id="duracion"required  value="<%= pelicula.length %> "required value="1" min="60" max="360">>
    </div>
    <div>
        <label for="release_date">Fecha de estreno</label>
        <input type="date" name="release_date" id="release_date" required value="<%= pelicula.release_date %> ">
    </div>
    
    <div>
        <label for="genreID">Genero</label>
        <select name="genero">
           <% for (let i=0; i< generos.length; i++) { %> 
            <% if (generos[i].id == pelicula.genre_id) { %> 
                <option value="<%= generos[i].id %> " selected>  <%= generos[i].name %>  </option>
                <% } else { %>  
                    
                    <option value="<%= generos[i].id %> "> <%= generos[i].name %>  </option>
                    <% } %> 
            <% } %> 
        </select>
     
    </div>
    <br>
    <button class="botonEditar"  type="submit">Guardar los cambios</button>
</form>
<br>
<div>
    <a class="botonVolver" href="/"> Volver al inicio</a>  
  </div>
  </main>
</body>
<footer>
	<p>Copyright 2022 - All rights reserved</p>
</footer>
</html>

