<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/register.css" />
    <title>Register</title>
</head>
<header>
  <a class="logo">
    <img src="/img/logo-SextoSol.png" width='100' alt='Tu cine'>  
     </a>
</header>
<body>
  <main>
  
      <div>
              <h1>Registrate</h1>
              <a class="register" role="button" aria-pressed="true" href="/login">Ya tenés cuenta? Logueate</a>
               
              <a class="botonVolver" role="button" aria-pressed="true" href="/">Volver</a>
              </div>
        <div class="register">
            <section class="register-title">
                
                    <div class="register-form">     
                      <form class="register form"   action="registrar" method="POST">
               <!-- Grupo: Nombre -->
                <label for="registerImput">Nombre y Apellido</label>
                <input type="text" class="form-control"  name="name" aria-describedby="emailHelp" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
                <% if (locals.errors && errors.name) { %> 
                    <small id="emailHelp" class="form-text text-danger"><%= errors.name.msg %> </small>
                    <% } %> 
              </div>
            <div class="registerImput">
              <label for="registerImput">Email </label>
              <input type="email" class="form-control"   name="email" aria-describedby="emailHelp" placeholder="Email" value="<%= locals.oldData ? oldData.email : null %>">
              
              <% if (locals.errors && errors.email) { %> 
                <small id="emailHelp" class="form-text text-danger"><%= errors.email.msg %> </small>
                <% } else if (locals.errors && errors.errors) { %>  

                    <small id="emailHelp" class="form-text text-danger"><%= errors.errors.msg %> </small>
             <% } %> 
            </div>
            
			<!-- Grupo: Contraseña -->
      <div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
				</div>
				<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
			</div>
      <!-- Grupo: Usuario -->
      
      <div class="formulario__grupo" id="grupo__tipoUsuario">
              <input type="radio" class="form-check-input"  name="rol" value="admin">
              <label class="tipoUsuario" for="tipoUsuario">Administrador</label>
            </div>
            <div>
                <input type="radio" class="form-check-input" name="rol" value="usuario">
                <label class="tipoUsuario" for="tipoUsuario">Usuario</label>
              </div>
              <% if (locals.errors && errors.rol) { %> 
                <small id="emailHelp" class="tipoUsuario"><%= errors.rol.msg %> </small>
                <% } %> 

<br>
              <% if (!locals.errors) { %> 
                <button type="submit" class="botonRegistrar" >Registrar</button>
                <% } else {%> 
            <button type="submit" class="botonRegistrar"  >Registrar</button>
            <% } %>
          </form>
        </section>
</main>

</body>
<footer>
	<p>Copyright 2022 - All rights reserved</p>
</footer>
</html>