<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/register.css" />
    <title>Register</title>
</head>
<header>
  <a class="logo">
    <img src="/img/logo-SextoSol.png" width='100' alt='Tu cine'>  
     </a>
</header>
<body>
    <main>
        <div class="login">
            <section class="register-title">
                    <a class="register" role="button" aria-pressed="true" href="/login">Log In</a>
               
                    <a class="botonVolver" role="button" aria-pressed="true" href="/">Volver</a>
             
    <div class="register">

        <form class="registerImput"  action="registrar" method="POST">
            
                <br>
                <label for="registerImput">Nombre y Apellido</label>
                <input type="text" class="form-control"  name="name" aria-describedby="emailHelp" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
                <% if (locals.errors && errors.name) { %> 
                    <small id="emailHelp" class="form-text text-danger"><%= errors.name.msg %> </small>
                    <% } %> 
              </div>
            <div class="registerImput">
              <label for="registerImput">Email </label>
              <input type="email" class="form-control"   name="email" aria-describedby="emailHelp" placeholder="Email" value="<%= locals.oldData ? oldData.email : null %>">
              
              <% if (locals.errors && errors.email) { %> 
                <small id="emailHelp" class="form-text text-danger"><%= errors.email.msg %> </small>
                <% } else if (locals.errors && errors.errors) { %>  

                    <small id="emailHelp" class="form-text text-danger"><%= errors.errors.msg %> </small>
             <% } %> 
            </div>
            <div class="registerImput">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control"  name="password" placeholder="Contraseña">
              <% if (locals.errors && errors.password) { %> 
                <small id="emailHelp" class="form-text text-danger"><%= errors.password.msg %> </small>
                <% }  else {%> <small id="passHelp" class="form-text text-muted">La contraseña debe tener almenos 8 caracteres alfanuméricos </small> <% } %>
            </div>
         <div>
         
              <input type="radio" class="form-check-input"  name="rol" value="admin">
              <label class="tipoUsuario" for="tipoUsuario">Administrador</label>
            </div>
            <div>
                <input type="radio" class="form-check-input" name="rol" value="usuario">
                <label class="tipoUsuario" for="tipoUsuario">Usuario</label>
              </div>
              <% if (locals.errors && errors.rol) { %> 
                <small id="emailHelp" class="tipoUsuario"><%= errors.rol.msg %> </small>
                <% } %> 

<br>
              <% if (!locals.errors) { %> 
                <button type="submit" class="botonRegistrar" >Registrar</button>
                <% } else {%> 
            <button type="submit" class="botonRegistrar"  >Registrar</button>
            <% } %>
          </form>

    </div>


</body>
<footer>
	<p>Copyright 2022 - All rights reserved</p>
</footer>
</html>