<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-SextoSol.png" alt="Movies Challenge">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>NOMBRE: <%= movie.title %> </p>
    <p>GENERO: <%= movie.genre.name %> </p>
    <p>ACTORES: <%= movie.genre.name %> </p>
    <br>
    <section>
        <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
        <a class="botonModificar" href="/movies/edit/<%= movie.id %>">Modificar</a>
        <a class="botonEliminar" href="/movies/delete/<%= movie.id %>">Eliminar</a>
        <a class="botonVolver" href="/">Volver al inicio</a>
    </section>

</body>
</html>